<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Ansible Automation">
  <title>{{ website_title }}</title>
</head>

<style type="text/css">
	body {
	  font-size: 16pt;
	  width: 20em;
	  line-spacing: 1.3em;
	  margin: auto;
	  padding: 2em 4em;
	}
	#content {
    font-size: 14pt;
	}
</style>

<body>
  <h1>Hello Nginx!</h1>
  <div id="content">
	  <p>Success!</p>
	  <p>Ansible installs/configures nginx successfully!</p>
	</div>
</body>
</html>
