# ansible.cfg

[defaults]
inventory = ./hosts-dev
remote_user = <SSH_USERNAME>
private_key_file = /path_to/<SSH_KEY>.pem
host_key_checking = False

# Windows only users
[ssh_connection]
ssh_args = -o ControlMaster=no